<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Hotel Playa Linda</title>
    <link rel="stylesheet" href="~/Content/Bootstrap.css">
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />

    <link href="~/Content/css/estiloGaleriaImagenes.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="icon" type="image/png" href="~/Content/img/hotel.svg" />
    <script src="~/Scripts/JQuery.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">

        <a class="navbar-brand" href="#">
            <img src="~/Content/img/hotel.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Hotel Playa Linda
        </a>
        <a href="/Administrador/Login/" class="btn btn-outline-light">
            <i class="bx bx-user"></i>
            Inicio de Session
        </a>
    </nav>

    <br>    <div class="wrapper">
        <nav class=" shadow nav-menu btn-light" id="navPrin"  style="background-color:lightgray">

            <FONT size=7>
                <!-- .nav-menu -->
                <ul class="navbar-nav">

                    <li class="nav-item" >
                        <a style="font-size: 35%;"  href="/Contenido/Inicio"><i class="bx bx-home"></i> <span><u>Inicio</u></span></a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 35%;"  href="/Contenido/Nosotros"><i class="bx bx-user"></i> <span>
                            Sobre Nosotros</span></a>
                    </li>
                    <li class="nav-item">
                        <a  style="font-size: 35%;"  href="/Basic/Facilidades"><i class="bx bx-file-blank"></i> <span>
                            Facilidades</span></a>

                    </li>
                    <li class="nav-item">
                        <a style="font-size: 35%;"  href="/Mapa/Llegar"> <i class="bx bxs-map bx-spin-hover"></i> <span>
                            Cómo llegar </span></a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 35%;"  href="/Basic/Tarifas"><i class="bx bx-dollar-circle bx-spin-hover"></i> <span>
                            Tarifas </span></a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size: 35%;"  href="/Reserva/Reservar"><i class="bx bx-notepad bx-spin-hover"></i>  <span>
                           Reservaciones </span></a>

                    </li>
                    <li class="nav-item">
                        <a style="font-size: 35%;"  href="/Contenido/Contacto"><i class="bx bx-envelope"></i> Contáctenos</a>
                    </li>


                    <li class="nav-item ">
                        <a style="font-size: 35%;"  id="linkpublicidad" name="linkpublicidad">   <img id="imgPublicidad" class="container-fluid" name="imgPublicidad" width="230" height="400" /> </a>

                    </li>

                    <li  style="color:white">  <h5 id="etiquetaPublicidad" name="etiquetaPublicidad" class=" Rotate-90 "> </h5></li>


                </ul>
            </FONT>
        </nav>


        @RenderBody()


    </div>

    <br>
    <br>
    <br>
    <footer class="page-footer bg-dark">
        <div class="container" style="color:white">
            <div class="row">
                <div class="col 12 s3">
                    <h5 class="white-text">Contactenos</h5>
                    <ul>
                        <li><img src="https://img.icons8.com/ios-glyphs/30/000000/conference-call.png" width="30" height="30" /><a style="color:white" href="#!"> Administracion Sitio Web</a></li>
                        <li><img src="https://img.icons8.com/ios-glyphs/30/000000/phone.png" width="30" height="30" /><a style="color:white" href="#!"> Oficinas Centrales</a></li>
                        <li><img src="https://img.icons8.com/ios-glyphs/30/000000/whatsapp.png" /><a style="color:white" href="#!"> WhatApps</a></li>
                    </ul>
                </div>
                <div class="col 12  s3" style="color:white">
                    <h5 class="white-text">Navegación</h5>
                    <ul>
                        <li><img src="https://img.icons8.com/material-sharp/24/000000/home.png" width="30" height="30" /><a style="color:white" href="#!">Inicio</a></li>
                        <li><img src="https://img.icons8.com/material-rounded/24/000000/home-button.png" width="30" height="30" /><a style="color:white" class="" href="#!">Menu Principal</a></li>
                    </ul>

                </div>

                <div class="col 12  s3">
                    <h5 class="white-text">Redes Sociales</h5>



                    <img src="https://img.icons8.com/color/48/000000/facebook-circled.png" width="30" height="30" /> Facebook
                    <br />
                    <img src="https://img.icons8.com/fluent/48/000000/twitter.png" width="30" height="30" /> Twitter
                    <!--<a class="grey-text text-lighten-3" href="#!">Twitter </a>-->

                    <br />

                    <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" width="30" height="30" /> Instagram
                    <!--<a class="grey-text text-lighten-3" href="#!">Instagram </a>-->




                </div>
            </div>
        </div>
        <div class="footer-copyright" style="color:white">
            <div id="ftextoA15" class="container">
                © 2020 Hotel Playa Linda
                <a class="grey-text text-lighten-4 right" id="ftextoA13" href="#!">Más Información</a>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            jQuery.ajax({
                type: 'POST',
                url: "/Contenido/listadoPublicidad",
                dataType: 'json', // ** ensure you add this line **
                success: function (data) {
                    console.log(data);
                    jQuery.each(data, function (index, item) {

                        $("#imgPublicidad").attr("src", item.rutaImg);
                        $("#linkpublicidad").attr("href", item.link);//.val(item.link;
                        //  document.getElementById("etiquetaPublicidad").innerHTML = item.descripcion;
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("some error");
                }
            });

        });//fin metodo



    </script>

    <script src="~/Scripts/Popper.js"></script>
    <script src="~/Scripts/Bootstrap.js"></script>


    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/typed.js/typed.min.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>

</body>
</html>
