<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Hotel Playa Linda</title>
    <link rel="stylesheet" href="~/Content/Bootstrap.css">
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />

    <link href="~/Content/css/estiloGaleriaImagenes.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="icon" type="image/png" href="~/Content/img/hotel.svg" />


    <script src="~/Scripts/JQuery.js"></script>


</head>

<body>

    <nav class="navbar navbar-light bg-light">

        <a class="navbar-brand" href="#">
            <img src="~/Content/img/hotel.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Hotel Playa Linda
        </a>
        <a href="/Administrador/Login/" class="btn btn-outline-danger">
            <img src="~/Content/img/avatar.png">

            Inicio de Session
        </a>
    </nav>

    <br>



    <div class="wrapper">
        <nav class="shadow nav navbar-brand bg-light" id="navPrin">

            <ul class="">

                <li class="nav-link">
                    <a class="nav-link" href="/Contenido/Inicio"> Inicio </a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Contenido/Nosotros"> Sobre Nosotros </a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Basic/Facilidades"> Facilidades </a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Mapa/Llegar"> Cómo llegar </a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Basic/Tarifas"> Tarifas </a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Reserva/Reservar"> Reservaciones </a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Contenido/Contacto"> Contáctenos </a>

                </li>


                <li class="nav-link  animated infinite jello slow">
                    <a id="linkpublicidad" name="linkpublicidad">   <img id="imgPublicidad" class="container-fluid" name="imgPublicidad" width="230" height="400" /> </a>

                </li>

                <li style="color:white">  <h5 id="etiquetaPublicidad" name="etiquetaPublicidad" class=" Rotate-90 animated infinite bounceInRight slow"> </h5></li>


            </ul>

        </nav>


        @RenderBody()


    </div>

    <br>
    <br>
    <br>
    <footer class="page-footer bg-light" id="foote" name="foote">
        <div class="container bg-light">
            <div class="row">
                <div class="col 12 s3">
                    <h5 class="white-text">Contactenos</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Administracion Sitio Web</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Oficinas Centrales</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">WhatApps</a></li>
                    </ul>
                </div>
                <div class="col 12  s3">
                    <h5 class="white-text">Navegación</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
                        <li><a id="ftextoA4" class="grey-text text-lighten-3" href="#!">Menu Principal</a></li>
                    </ul>

                </div>

                <div class="col 12  s3">
                    <h5 class="white-text">Redes Sociales</h5>
                    <ul name="texto">
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Facebook </a>
                            <i class="material-icons"></i>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Twitter </a>
                            <i class="material-icons"></i>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Instagram </a>
                            <i class="material-icons"></i>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div id="ftextoA15" class="container">
                © 2020 Hotel Playa Linda
                <a class="grey-text text-lighten-4 right" id="ftextoA13" href="#!">Más Información</a>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            jQuery.ajax({
                type: 'POST',
                url: "/Contenido/listadoPublicidad",
                dataType: 'json', // ** ensure you add this line **
                success: function (data) {
                    console.log(data);
                    jQuery.each(data, function (index, item) {

                        $("#imgPublicidad").attr("src", item.rutaImg);
                        $("#linkpublicidad").attr("href", item.link);//.val(item.link;
                        // $("#etiquetaPublicidad").innerHTML = "'item.descripcion'";//attr("value", item.descripcion);//val(item.descripcion);//attr("h5", item.descripcion);//.val(item.descripcion);
                        document.getElementById("etiquetaPublicidad").innerHTML = item.descripcion;
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("some error");
                }
            });

        });//fin metodo



    </script>

    <script src="~/Scripts/Popper.js"></script>
    <script src="~/Scripts/Bootstrap.js"></script>

</body>
</html>
