<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Hotel Playa Linda</title>
    <link rel="stylesheet" href="~/Content/Bootstrap.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="icon" type="image/png" href="~/Content/img/hotel.svg" />




</head>

<body>
    <nav class="navbar navbar-light bg-light">

        <a class="navbar-brand" href="#">
            <img src="~/Content/img/hotel.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Hotel Playa Linda
        </a>

        <a class="btn btn-outline-dark" asp-area="Identity"
           title="Manage"> <img src="~/Content/img/avatar.png"> Bienvenido al sitio: @User.Identity.Name</a>

        <a class="btn btn-outline-danger" href="@Url.Action("SignOut","Administrador")"> <img src="~/Content/img/signs.png">  </a>



    </nav>

    <br>



    <div class="wrapper">
        <nav class="shadow nav navbar-brand bg-light">


            <ul class="">
                <li class="nav-link">
                    @Html.ActionLink("Inicio", "Administrar_Inicio", "Contenido")
                    <br>
                </li>

                <li class="nav-link">
                    <a class="nav-link" href="/Contenido/AdministrarPaginas"> Modificar Paginas </a>

                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Reserva/ListaReservaciones"> Listado  Reservas </a>

                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Habitaciones/adm_habitaciones"> Administrar habitaciones </a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="#">Estado del hotel </a>

                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Habitaciones/disponibilidad_habitaciones"> Disponibilidad Habitaciones </a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Contenido/Administrar_Publicidad"> Publicidad </a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" href="/Contenido/Administrar_ofertas"> Administrar ofertas </a>
                </li>
            </ul>
        </nav>
        @RenderBody()
    </div>
    <br>

    <footer class="page-footer bg-light" id="foote" name="foote">
        <div class="container bg-light">
            <div class="row">
                <div class="col 12 s3">
                    <h5 class="white-text">Contactenos</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Administracion Sitio Web</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Oficinas Centrales</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">WhatApps</a></li>
                    </ul>
                </div>
                <div class="col 12  s3">
                    <h5 class="white-text">Navegación</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
                        <li><a id="ftextoA4" class="grey-text text-lighten-3" href="#!">Menu Principal</a></li>
                    </ul>

                </div>

                <div class="col 12  s3">
                    <h5 class="white-text">Redes Sociales</h5>
                    <ul name="texto">
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Facebook </a>
                            <i class="material-icons"></i>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Twitter </a>
                            <i class="material-icons"></i>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#!">Instagram </a>
                            <i class="material-icons"></i>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div id="ftextoA15" class="container">
                © 2020 Hotel Playa Linda
                <a class="grey-text text-lighten-4 right" id="ftextoA13" href="#!">Más Información</a>
            </div>
        </div>
    </footer>


    <script src="~/Scripts/JQuery.js"></script>
    <script src="~/Scripts/Popper.js"></script>
    <script src="~/Scripts/Bootstrap.js"></script>

</body>
</html>
