<div class="container">

    <div class="row">
        <div class="col-4">  </div>

        <div class="col-4" style="margin: 25px;">
            @using (Html.BeginForm("GenerarReservacion", "Reserva", FormMethod.Post))
            {
                <input type="text" class="form-control" id="codigoTipoHabitacion" value="@ViewData["codigoTipoHabitacion"]" name="codigoTipoHabitacion" hidden>
                <input type="text" class="form-control" id="codigoHabitacion" value="@ViewData["codigoHabitacion"]" name="codigoHabitacion" hidden>
                <input type="text" class="form-control" id="fechaInicio" value="@ViewData["fechaInicio"]" name="fechaInicio" hidden>
                <input type="text" class="form-control" id="fechaFin" value="@ViewData["fechaFin"]" name="fechaFin" hidden>
                <div class="form-group">
                    <label for="exampleInputPassword1">Pasaporte</label>
                    <input type="text" class="form-control" id="pasaporte" onkeypress="pulsar();" name="pasaporte">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="text" class="form-control" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Tarjeta</label>
                    <input type="text" class="form-control" id="tarjeta" name="tarjeta" required>
                </div>
                <div class="form-group" id="mensaje" name="mensaje">
                </div>


                <button type="submit" class="btn btn-primary">Registrar Reservacion</button>
            }
        </div>

        <div class="col-4">  </div>
    </div>
</div>
        <script>
            function pulsar() {
                var cedula = $("#pasaporte").val();

                jQuery.ajax({
                    type: 'POST',
                    url: "/Basic/getClientes",
                    data: { pasaporte: cedula },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        jQuery.each(data, function (index, item) {

                            $("#pasaporte").val(item.pasaporte);
                            $("#nombre").val(item.nombre);
                            $("#apellido").val(item.apellido1);
                            $("#email").val(item.correo);

                            //var numeroCuenta = str.substr(0, str.length - 4);
                            var numeroCuenta = 12345;
                            $("#tarjeta").val(numeroCuenta + "****");
                            document.getElementById("mensaje").innerHTML = "<div class='alert alert-primary' role='alert'> Bienvenido de nuevo, que gusto  "
                                + item.nombre + ", por ser cliente frecuente te haremos un descuento </div >";

                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("some error");
                    }
                });

            }//fin metodo



        </script>
