
@{
    ViewBag.Title = "Reservado";
}
    <div class="container">

        <div class="row">
            <div class="col-4">  </div>
            <div class="col-4">
                <div class="alert alert-info" role="alert">
                    Gracias Por su Reservacion. Vuelva Pronto Jaha
                </div>

            </div>
            <div class="col-4">  </div>

        </div>

    </div>


