
    <div class="container">
        <div class="row">
            <div class="col-3">
              
            </div>
            <div class="col-6">
                <br><br>
               <font size="7" style="border: 2px  solid red"> 
                  
                   <label>
                       Sitio Administrativo
                   </label>
                    </font>
              
                <br><br>
            </div>
            <div class="col-3">
              
            </div>
        </div>
    </div>