<div class="container">
    <div class="row">
        <div class="col-md-4">


        </div>
        <div class="col-md-4">

            <br>
            <hr style="color: #47748b">
            <center> <font size="4">Modificar Paginas </font></center>
            <hr style="color: #47748b">
            <br>
          
            <div class="form-group">
                @Html.ActionLink("Home", "HomeAdm", "Contenido", new { @class = "btn btn-outline-dark " })

            </div>

            <div class="form-group">

                @Html.ActionLink("Sobre Nosotros", "SobreNosotrosAdm", "Contenido", new { @class = "btn btn-outline-dark " })

            </div>
            <div class="form-group">

                @Html.ActionLink("Facilidades", "FacilidadesAdm", "Contenido", new { @class = "btn btn-outline-dark " })

            </div>

            <div class="form-group">
                <a href="/Mapa/AdministrarContenido" class="btn btn-outline-dark "> Como Llegar</a>
                
            </div>

        </div>

        <div class="col-md-4">


        </div>


    </div>
    <br>  <br>  <br>

</div>


