


<!--------------------------- ------------------------------------>
@model IEnumerable<ENTIDAD.Imagen>

@{ var contenido = (IEnumerable<ENTIDAD.Contenido>)ViewData["contenidoVista"];

}


<body class="scroll">

    <div class="container ">
        <div class="row">


            <div class="col-sm-2">  </div>
            <center>
                <div class="col-sm-10">

                    @foreach (var dato in contenido)
                    {
                        <hr style="color: #47748b">
                        <center ><strong> @Html.DisplayFor(modelItem => dato.titulo)</strong> </center>
                        <hr style="color: #47748b">
                        <br>
                        <center class="" >          <div style="text-align: justify;">@Html.DisplayFor(modelItem => dato.contenido) </div></center>

                    }

                    <br>
                    <a href="/Itinerario/Itinerario">
                        <img src="~/Content/img/calendario.svg" height="30" width="30" />Ver  Itinerario del Hotel
                    </a>
                </div>
            </center>
        
        </div>
            <br>
            <br>
        
           
            <div class="contenedor-galeria">
                @foreach (var item in Model)
                {
                    <img src="@Html.DisplayFor(modelItem=> item.imgPath)" class="galeria__img" />
                }
            </div>

        </div>
</body>
