

@model IEnumerable<ENTIDAD.Facilidades>
<style>
    .gallery {
        filter: brightness(110%);
        animation: escalar;
        cursor: pointer;
        animation: escalar 1.4s infinite alternate;
    }

    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }



    .modal-body {
        position: relative;
        padding: 0px;
        min-height: 400px;
        background: #ccc;
    }




    .close {
        position: absolute;
        right: -30px;
        top: 0;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1;
    }

    #image {
        min-height: 200px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <strong>
                <font style="text-transform: uppercase;">
                    <hr style="color: #47748b; ">
                    <center class="" slow>
                        Facilidades  <img src="~/Content/img/nature.png" width="40" height="40" />
                    </center>
                    <hr style="color: #47748b; ">
                </font>
            </strong>
        </div>
        <div class="col-4"></div>
    </div>
    <br><br>
    

    <div class="row ">

        @foreach (var dato in Model)

        {
            <div class="card " style="width: 20rem;border:2px solid #ebe3e3">

                @*<hr style="border-top: 1px solid black;">*@
                <img src="@dato.urlImg" class="card-img-top " width="300" height="300" alt="...">
                <div class="card-body">

                    <p class="card-text">
                        <font style="text-transform: uppercase;">
                            <center>
                                <hr style="border-top: 1px solid black;" width="50%">
                                <strong> @dato.nombre  </strong>
                                <hr style="border-top: 1px solid black;" width="50%">
                            </center>
                        </font>
                    </p>
                    <p class="card-text text-justify  btn btn-outline-dark">Reglas: @dato.reglas</p>
                    <h5 class="btn btn-outline-info animated infinite bounceIn slow">Detalles @dato.detalles</h5>
                    <br>
                    <h5 class="btn btn-dark animated infinite bounceInRight slow">Más Información</h5>
                </div>
                <hr style="border-top: 5px solid #FF0000">
            </div>


            <hr style="        border-top: 1px solid #ebe3e3;">

        }




    </div>

</div>