
@model IEnumerable<ENTIDAD.TipoHabitacion>

    <style>
        .gallery {
            filter: brightness(100%);
            animation: escalar;
            cursor: pointer;
            animation: escalar 1.8s infinite alternate;
        }

        #image {
            min-height: 0px;
        }
    </style>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <strong>
                <font style="text-transform: uppercase;">
                    <hr style="color: #47748b; ">
                    <center class="animated infinite bounceOut" slow>
                        Tarifas  <img src="~/Content/img/business.png" width="40" height="40" />
                    </center>
                    <hr style="color: #47748b; ">
                </font>
            </strong>
        </div>
        <div class="col-4"></div>
    </div>
    <br><br>
        <div class="row ">

            @foreach (var dato in Model)

            {
                <div class="card gallery" style="width: 30rem;border:2px solid #ebe3e3">
                   
                    @*<hr style="border-top: 1px solid black;">*@
                    <img src="@dato.urlImg" class="card-img-top " width="300" height="300" alt="...">
                    <div class="card-body">

                        <p class="card-text">
                            <font style="text-transform: uppercase;">
                                <center>
                                    <hr style="border-top: 1px solid black;" width="50%">
                                      <strong>Habitación: @dato.nombre  </strong>
                                    <hr style="border-top: 1px solid black;" width="50%">
                                </center>
                            </font>
                        </p>
                        <p class="card-text text-justify btn btn-outline-dark">@dato.descripcion</p>
                        <h5 class="btn btn-outline-info animated infinite bounceIn slow"  >Precio: ₡@dato.precio</h5>
                        <br>
                        <h5 class="btn btn-dark animated infinite bounceInRight slow" >Más Información</h5>
                    </div>
                    <hr style="border-top: 5px solid #ebe3e3">
                </div>


                <hr style="        border-top: 1px solid #ebe3e3;">

            }
        </div>
    </div>

