
@model IEnumerable<ENTIDAD.TipoHabitacion>


<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <strong>
                <font style="text-transform: uppercase;">
                    <hr style="color: #47748b; ">
                    <center class="" slow>
                        Tarifas  <img src="~/Content/img/business.png" width="40" height="40" />
                    </center>
                    <hr style="color: #47748b; ">
                </font>
            </strong>
        </div>
        <div class="col-4"></div>
    </div>
    <br><br>
    <style>
      

        .modal-dialog {
            max-width: 800px;
            margin: 30px auto;
        }



        .modal-body {
            position: relative;
            padding: 0px;
            min-height: 400px;
            background: #fff;
        }




        .close {
            position: absolute;
            right: -30px;
            top: 0;
            z-index: 999;
            font-size: 2rem;
            font-weight: normal;
            color: #fff;
            opacity: 1;
        }

        #image {
            min-height: 200px;
        }
    </style>
    <div class="row ">

        @foreach (var dato in Model)

        {
            <div class="card " style="width: 20rem;border:2px solid #ebe3e3; margin-bottom:5px;">

                
                <div class="gallery">
                    <img src="@dato.urlImg" class="card-img-top" data-target="#myModal" width="700" height="300" alt="..." data-toggle="modal" data-bigimage="@dato.urlImg">


                </div>
                <div class="card-body">

                    <p class="card-text">
                        <font style="text-transform: uppercase;">
                            <center>
                                <strong>Habitación: @dato.nombre  </strong>
                            </center>
                        </font>
                    </p>
                    <br />
                    <p class="card-text text-justify btn btn-outline-dark">@dato.descripcion</p>
                    <h5 class="btn btn-outline-danger">Precio: ₡@dato.precio</h5>
                    <br>

                </div>
            </div>


            <hr style="        border-top: 1px solid black;">

        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="border-top:8px solid white">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div style="border-top:8px solid white">
                    <center>
                        <img src="//media.tenor.com/images/556e9ff845b7dd0c62dcdbbb00babb4b/tenor.gif" alt="" id="image" class="img-fluid">
                        </center>
</div>


            </div>

        </div>
    </div>
</div>





<script type="text/javascript">
    $(document).ready(function () {
        // Gets the video src from the data-src on each button
        var $imageSrc;
        $('.gallery img').click(function () {
            $imageSrc = $(this).data('bigimage');
        });
        console.log($imageSrc);



        // when the modal is opened autoplay it
        $('#myModal').on('shown.bs.modal', function (e) {

            // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get

            $("#image").attr('src', $imageSrc);
        })

        // reset the modal image
        $('#myModal').on('hide.bs.modal', function (e) {
            // a poor man's stop video
            $("#image").attr('src', '');
        })

        // document ready
    });

</script>