
@{
    ViewBag.Title = "adm_descipcionhabitaciones";
}

<h2>adm_descipcionhabitaciones</h2>

<form>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button>Aceptar</button>
    <li class="nav-link">
        @Html.ActionLink("Cancelar  ", "adm_habitaciones", "Habitaciones")
    </li>
</form>